

html,
body {
    height: 100%;
    background-color: #aaaaaa;
}

.greetings,
p,
h1, 
h2 {
    font-family: 'Noto Serif JP', serif;
}

.flex-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1500px;
    background-color: #fccccc;
    padding: 10px;
    height: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 25%;
    margin-bottom: 3em;
    background-color: #ff7777;
}

ul  {
    display: flex;
    list-style-type: none;
}

ul li {
    margin-right: 20px;
}

li a {
    text-decoration: none;
    font-family: 'Noto Serif JP', serif;
    font-size: 2rem;
    color: #333333;
    font-weight: 800;
}

.logo img {
    width: 70px;
    height: 70px;
    margin-left: 10px;
}

.about_me {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.data {
    display: flex;
    align-items: center;
}

.fullname {
    margin-right: 40px;
    flex-basis: 730px;
}

.myImg {
    margin-top: 10px;
    padding-left: 120px;
    flex-basis: 340px;
}

.knowledge {
    display: flex;   
    justify-content: center;
    color: #004400;
}

.article {
    margin-top: 2em;   
}


p {
    font-size: 1.2rem;
    color: #aa5500;
    padding-left: 20px;
}

.text {
    font-size: 1.2rem;
    color: #005555;
}

h2 {
    text-align: center;
    color: #007777;
}

h1 {
    color: #007777;
    text-align: center;
    font-size: 3rem;
}

.footer {
    background-color: #bbffbb;
    flex: 0 0 auto;
}